.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.input {
  display: flex;
  align-items: center;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0;
}
